html
  head
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //
      link(rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/main.css")
  body
    div.jumbotron.text-center
      h1 Barowmy Admin
      form(method="POST" action="/admin/auth")
        fieldset
          legend Login
          .form-group
            label Username
            input.form-control(type="text" name="username")
          .form-group
            label Password
            input.form-control(type="password" name="password")
          .form-group
            input.btn.btn-primary(type="submit" value="Login")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/app.js")
