html
  head
    link(rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    //
      link(rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/main.css")
  body
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/admin.js")
