extends layout

block body
  .jumbotron.text-center
    h1 Barowmy
    p Rental Directory
    form.form-inline
      .form-group
        input.form-control(type="text" placeholder="What are you looking to rent?")
        input.form-control(type="text" placeholder="Where?")
        input.form-control(type="submit")
  .container-fluid.text-center
    .row
      .col-sm-4
        h2 Tags
        ul.list-unstyled
          each tag in tags
            li
              a(href="/tag/#{tag.name}")=tag.name
      .col-sm-4
        h2 Cities
        ul.list-unstyled
          each location in locations
            li
              a(href="/city/#{location.name}")=location.name
      .col-sm-4
        h2 Vendors
        ul.list-unstyled
          each vendor in vendors
            li
              a(href="/vendor/#{vendor.name}")=vendor.name