extends layout

block body
  div.jumbotron.text-center
    h1 Barowmy
    p Rental Directory
  div
    input(type=text name="search" placeholder="search")
    input(type=text name="location" placeholder="location")
