html
  head
    link(rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/dist/css/main.css")
  body
    block body