
form(action="/user/create" method="POST")
  table
    tr
      td username
      td
        input(type="text" name="username")
    tr
      td password
      td
        input(type="password" name="password")
      td
        input(type="submit")